### security: 
# values: none, root
allow-git=none

# for NPM-only
ignore-scripts=true

# tools: npq, socket-firewall, lockfile-lint

# commands: npm ci, pnpm install --frozen-lockfile (git-track lockfile)
